<launch>
  <arg name="cmd_vel_topic" default="/mobile_base/commands/velocity"/>
  <arg name="set_base_frame" default="base_footprint"/>
  <arg name="open_rviz" default="true"/> 
  
  <!-- launch --> 
  <include file="$(find kobuki_node)/launch/minimal.launch" />
  <include file="$(find ydlidar_ros_driver)/launch/G2.launch" >
  
  </include>

  <!-- Gmapping -->
  <node pkg="gmapping" type="slam_gmapping" name="kobuki_slam_gmapping" output="screen">
    <param name="base_frame" value="$(arg set_base_frame)"/>
  </node>
  
  
   <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find w3_navigation)/launch/kobuki_gmapping.rviz"/>
  </group>
  
</launch>