<launch>
  <arg name="map_file" default="/home/sean/catkin_ws/src/w3_navigation/map/map.yaml"/>
  <arg name="cmd_vel_topic" default="/mobile_base/commands/velocity"/>
  <arg name="open_rviz" default="true"/> 
  
  <!-- node --> 
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <rosparam file="$(find w3_navigation)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find w3_navigation)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find w3_navigation)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find w3_navigation)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find w3_navigation)/param/dwa_local_planner_params.yaml" command="load" />
    <rosparam file="$(find w3_navigation)/param/move_base_params.yaml" command="load" />
    <remap from="/cmd_vel" to="$(arg cmd_vel_topic)" />
  </node>

  <!-- launch --> 
  <include file="$(find kobuki_node)/launch/minimal.launch" />
  <include file="$(find ydlidar_ros_driver)/launch/G2.launch" />
  <include file="$(find w3_navigation)/launch/amcl_cus.launch" >
  </include>
  
   <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find w3_navigation)/launch/kobuki_navigation.rviz"/>
  </group>
</launch>
